.hidden {
  display: none;
}

.hover-item {
  color: white;
  background-color: rgb(37, 37, 37);
}

.hover-item:hover {
  color: rgb(37, 37, 37);
  background-color: white;
}

.m-l-nav-item {
  display: none;
}

header {
  top: 0;
  position: sticky;
  z-index: 100;
}

nav {
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: row;
}
nav .mobile-nav-element {
  list-style: none;
  display: block;
}
nav .mobile-nav-element a {
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  min-height: 50px;
}

#logo {
  display: block;
  text-align: center;
  width: 100px;
}
#logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  min-height: 50px;
}

#hamburger {
  border: none;
  border-radius: 15px;
}

#close {
  border: none;
  border-radius: 15px;
}
#close svg {
  max-width: 40px;
  max-height: 40px;
}

.mobile-dropdown {
  position: relative;
  margin: 0 20px 0 auto;
}

.hamburger-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: -220%;
  background-color: rgb(37, 37, 37);
  min-width: 170px;
  list-style: none;
  padding: 0;
  margin: 0 100px 0 10px;
}
.hamburger-dropdown li {
  border-bottom: 1px solid white;
}
.hamburger-dropdown li a {
  max-width: 150px;
  padding: 0 0 0 10px;
}

.opening {
  display: block;
  animation: slide-out 0.25s forwards;
}

.closing {
  display: block;
  animation: slide-back 0.25s forwards;
}

@keyframes slide-out {
  0% {
    left: 120%;
  }
  100% {
    left: -220%;
  }
}
@keyframes slide-back {
  0% {
    left: -220%;
  }
  100% {
    left: 120%;
  }
}
.open {
  display: block;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(37, 37, 37);
  max-width: inherit;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.dropdown-menu li {
  border-bottom: 1px solid white;
}

.dropdown-menu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

@media (min-width: 768px) {
  #hamburger {
    display: none;
  }
  #close {
    display: none;
  }
  .mobile-dropdown {
    margin-left: 0;
  }
  #history-nav {
    margin-left: auto;
  }
  .m-l-nav-item {
    display: block;
    text-align: center;
    width: 170px;
  }
  .m-l-nav-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    min-height: 50px;
  }
  nav div {
    display: block;
  }
  .open {
    display: none;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .overlay-primary {
    display: flex;
    flex-direction: row;
  }
}
html {
  background-color: black;
}

.hero-card-con {
  display: flex;
  justify-content: space-around;
}

.hero-card {
  background-color: black;
  color: white;
  padding: 300px 100px;
}

.selection-card-con {
  margin: 100px 0;
  display: flex;
  justify-content: space-evenly;
}

.selection-card {
  background-color: #666;
  color: white;
  padding: 100px;
}/*# sourceMappingURL=main.css.map */