.title-text {
    font-family: "Monserrat", sans-serif;
    color: #fff;
    font-size: 64;
}

.header-text {
    font-family: "Monserrat", sans-serif;
    color: #fff;
    font-size: 55;
}

.button-text {
    font-family: "Monserrat", sans-serif;
    font-size: 39;
}

.body-text {
    font-family: "Monserrat", sans-serif;
    color: #fff;
    font-size: 24;
}

.r-title-text {
    font-family: "Monserrat", sans-serif;
    color: #B3262E;
    font-size: 64;
}

.r-header-text {
    font-family: "Monserrat", sans-serif;
    color: #B3262E;
    font-size: 55;
}

.r-body-text {
    font-family: "Monserrat", sans-serif;
    color: #B3262E;
    font-size: 24;
}

.b-body-text {
    font-family: "Monserrat", sans-serif;
    color: #000;
    font-size: 24;
}