.title-text {
    font-family: "Monserrat", sans-serif;
    font-size: 64;
}

.header-text {
    font-family: "Monserrat", sans-serif;
    font-size: 55;
}

.button-text {
    font-family: "Monserrat", sans-serif;
    font-size: 39;
}

.body-text {
    font-family: "Monserrat", sans-serif;
    font-size: 24;
}