@use 'fonts';

$primary-color: #B3262E;
// $secondary-color: #91B8D9;
$secondary-color: #a87375;
$tertiary-color: #cecccd;
$accent-color: #FFC000;

$black: #000;
$white: #fff;

$body-text-color: #ffffff;
$menu-element-color: rgb(37, 37, 37);
$dark-background: #3c3c3c;