@use '../abstracts' as a;

#BOB-page {
    overflow-x: hidden;
}

#BOB-hero {
    
    // unique gradient for BOB
    .hero-title-con {
        background: linear-gradient(to bottom, #000000, #000000FF);
        backdrop-filter: blur(50px);
    }

    .hero-title {
        color: a.$white;
    }

    .hero-subtitle {
        color: a.$primary-color;
    }
}

.BOB-intro-section {

    color: a.$white;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    // match unique gradient for BOB
    background-image: linear-gradient(to bottom, #000000FF, #00000000), url(/public/images/BOB-images/desktop/d-bob-hero.png);
    
    text-align: right;
    width: 100vw;
    padding: 30vh 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #skipQuote {
        background-color: transparent;
        border: none;
        transition: all 0.5s ease;
        cursor: pointer;
    }

    #skipQuote:hover {
        transform: scale(150%);
    }

    #skipQuote:active {
        transform: scale(90%);
    }
}

h3.typewriter-quote {
    font-size: 2rem;
    margin: 2rem 0;

    text-align: center;
}

p.typewriter-quote {
    font-size: 1rem;
    text-align: left;
    padding: 1rem;
}

.typewriter-quote {
    font-family: 'typewriter', serif;
    font-weight: bold;
}

// DOSSIER STYLING

.dossier-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 160vh;

    background-image: url(/public/images/BOB-images/folder-texture.png);
}

.dossier {
    background-image: url(/public/images/BOB-images/folder-texture.png);
    box-shadow: a.$shadow;

    position: absolute;
    width: 100vw;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: a.$t-time;
    transform: translateY(0);

    padding-top: 10vh;
}

.dossier:hover {
    transform: translateY(-10vh);
}

.dossier:hover ~ .dossier {
    transform: translateY(10vh);
}

.dossier-content {
    color: a.$black;
    width: 80%;
    font-size: 1rem;
    box-shadow: a.$shadow;
    transition: a.$t-time;
    transform: translate(0, 0);
    cursor: pointer;

    background-image: url(/public/images/BOB-images/paper-texture.jpg);
    background-repeat: repeat;
    background-position: center;
    
    padding: 4rem 4rem;

    font-size: 1.25rem;

    &:hover {
        box-shadow: -8px -8px 16px rgb(0, 0, 0, 0.25);
        transform: translateY(-60vh);
    }
}

.dossier-tag {
    position: absolute;
    height: 10vh;
    width: 40vw;

    top: -10vh;

    padding: 0 2rem;
    background-image: url(/public/images/BOB-images/folder-texture.png);
    border-radius: 1rem 1rem 0 0;
    box-shadow: a.$shadow;
    color: a.$black;
    text-align: center;
    font-size: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dossier-p {
    margin: 5vh 0;
}

#july {
    z-index: 50;
    top: 0;
}

#august {
    z-index: 55;
    top: 20vh;
}

#september {
    z-index: 60;
    top: 40vh;
}

#october {
    z-index: 65;
    top: 60vh;
}

#cover {
    z-index: 70;
    top: 80vh;

    &:hover {
        transform: none;
    }
}

#july-tag {
    left: 5%;
}
#aug-tag {
    left: 20%;
}
#sept-tag {
    left: 35%;
}
#oct-tag {
    left: 50%;
}

#cover-tag {
    width: 60vw;
}

.canadian-pilots-section {
    // border-top: solid 5px a.$primary-color;
    .canadian-pilots-card {
        width: 100vw;
        margin: 20px 0px;
    }

    .pilots-card-content {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: rgba(a.$dark-background, 0.3);
        height: fit-content;
        align-items: center;

        .pilot-card-rank-mobile {
            width: 90%;
            color: a.$primary-color;
            font-size: 16px;
            margin: 10px 0px;
        }

        .pilot-card-name-mobile {
            margin-left: 10%;
            padding: 10px 0px;
            border-bottom: solid 5px a.$secondary-color;
            margin-bottom: 10px;
            width: 100%;
            color: a.$primary-color;
            font-size: 20px;
        }

        .pilots-card-img-con {
            display: flex;
            width: 75%;
            height: 90vw;
            text-align: center;

            background-size: cover;

        }

        .pilots-card-text-con {
            width: 90%;
            align-items: center;
            margin: auto;

            p {
                margin: 2rem;
                font-size: 120%;
                color: black
            }
        }
    }
}

.BOB-img-con {
    margin: 0;
    margin-left: 20px;
    padding: 0;
    overflow: hidden;
}

.BOB-img {
    object-fit: contain;
}

@media screen and (min-width: 768px) {
    .BOB-intro-section {
        padding: 30vh 8rem;
    }

    h3.typewriter-quote {
        font-size: 5rem;
    }

    p.typewriter-quote {
        font-size: 1.25rem;
        font-weight: normal;
    }

    .dossier-con {
        height: 210vh;
    }

    .dossier-content {
        padding: 4rem 6rem 50vh 6rem;
    }

    .dossier-tag {
        font-size: 2rem;
        width: 25vw;
    }

    #july-tag {
        left: 10%;
    }
    #aug-tag {
        left: 30%;
    }
    #sept-tag {
        left: 50%;
    }
    #oct-tag {
        left: 70%;
    }

    #cover-tag {
        width: 50vw;
    }
}