@use '../abstracts' as a;

#bases-page {
    background-color: rgba(a.$dark-background, 0.5);
    color: white;

    overflow-x: hidden;
}

#base-hero-section {
    background-image: url("/images/bases-images/map.svg");
    height: 100vh;
}

.scroll-section {
    h2 {
        color: a.$black;
    }

    .map-content-box {
        background-color: a.$glass-morph;
        backdrop-filter: blur(10px);
    }
//     .map-content-box {
//         display: flex;
//         flex-direction: row;
//         width: 100vw;
//         margin-left: 3vw;
        
//     p {
//         color: white;
//         background-color: rgba(a.$dark-background, 0.5);
//         padding: 10px;
//         width: 33vw;
//         border-radius: 10px;
//         border: solid 3px black;
//     }

//     .map-image {
//         width: 33vw;
//         height: 33vw;
//         margin-left: auto;
//         margin-right: 3vw;
//         background-color: rgba(a.$dark-background, 0.5);
//         padding: 20px;
//         border-radius: 10px;
//         border: solid 3px black;
//         background-image: url("/images/general-images/AboutHero_Mobile.png");
//         background-size: cover;
//         background-repeat: no-repeat;
//     }
// }
}