@use '../abstracts/fonts';
@use '../abstracts/mixins';
@use '../abstracts/variables' as v;
@use '../base/typography';

.button {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: v.$primary-color;
    color: white;
}

.button-box {
    display: flex;
    flex-direction: column;
}

.button-box-title {
    color: v.$dark-background;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    margin: 10px;

}

.button-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-button {
    background-color: v.$dark-background;
    padding: 10px;
    margin: 8px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: "Monserrat", sans-serif;
    border: none;
    cursor: pointer;
}

.box-button:hover {
    color: white;
    background-color: v.$primary-color;
}

@media (min-width: 768px) {
    .button-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 20vw;
        margin: 0 auto;
    }
}