@use '../abstracts' as a;

    .card-carousel {
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
        width: 100%;
        white-space: nowrap;

        .carousel-background {
            position: absolute;
            transform: translateY(100px);
            z-index: -1;
            background-color: a.$secondary-color;
            height: 20vh;
            width: 100%;

            display: flex;
            align-items: center;
        }
        .carousel {
            display: flex;
            flex-direction: row;
            width: max-content;
            animation: scroll-left 60s linear infinite;

            &:hover {
                animation-play-state: paused;
            }

                    @keyframes scroll-left {
            0%   { transform: translateX(0); }
            100% { transform: translateX(-50%); }
        }
            .event-card {
                background-color: white;
                position: relative;
                z-index: 100;
                display: flex;
                width: 180px;
                height: 180px;
                box-shadow: 2px 2px 2px black;
                margin: 10px;
                flex-direction: column;
                border: solid 1px rgba(a.$dark-background, 0.3);
                container-type: inline-size;

                .sub-card {
                    background-color: a.$primary-color;
                    position: absolute;
                    width: 33%;
                    height: 33%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    span {
                        font-size: 12px;
                        font-weight: bold;
                    }
                }
                .card-image-con {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    .carousel-card-image {
                        position: absolute;
                        display: flex;
                        width: 60%;
                        height: 60%;
                        top: 15%;
                        left: 20%;
                    }
                }
                .card-title {
                        display: flex;
                        color: black;
                        position: absolute;
                        font-size: 15px;
                        top: 50%;
                        left: 10%;
                    }
                .card-text {
                    color: black;
                    position: absolute;
                    top: 60%;
                    font-size: 14px;
                    left: 10%;
                    white-space: normal;
                    p {
                    width: 80%;
                    height: 20%px;
                    font-size: 12px;
                }}
                .card-button {
                    background-color: a.$primary-color;
                    position: absolute;
                    display: flex;
                    right: 0px;
                    bottom: 0px;
                    height: 16%;
                    width: 70%;
                    clip-path: polygon(24% 0%, 100% 0%, 100% 100%, 0% 100%);
                    color: white;
                    align-items: center;
                    justify-content: flex-end;
                    padding-right: 10px;
                    font-size: 14px;
                }           
            }
        }
    }

@media (min-width:768px) {
    
    .card-carousel {
        .carousel-background {
            position: absolute;
            transform: translateY(100px);
            height: 120px;
        }
        .carousel {
            .event-card {
                width: 250px;
                height: 250px;
                box-shadow: 2px 2px 2px black;
                margin: 10px;

                .sub-card {
                    width: 33%;
                    height: 33%;
                    span {
                        font-size: 12px;
                    }
                }
                .card-title {
                        font-size: 15px;
                        top: 55%;
                        left: 10%;
                    }
                .card-text {
                    top: 65%;
                    left: 10%;
                    p {
                    width: 80%;
                    height: 20%px;
                    font-size: 15px;
                }}
                .card-button {
                    height: 16%;
                    width: 60%;
                    padding-right: 10px;
                    font-size: 14px;
                }           
            }
        }
    }
}

@media (min-width:1200px) {
    .card-carousel {
        .carousel-background {
            position: absolute;
            transform: translateY(100px);
            height: 300px;
        }
        .carousel {
            .event-card {
                width: 500px;
                height: 500px;
                box-shadow: 2px 2px 2px black;
                margin: 10px;

                .sub-card {
                    width: 33%;
                    height: 33%;
                    span {
                        font-size: 20px;
                    }
                }
                .card-title {
                        font-size: 24px;
                        top: 65%;
                        left: 10%;
                    }
                .card-text {
                    top: 75%;
                    left: 10%;
                    p {
                    width: 80%;
                    height: 20%px;
                    font-size: 20px;
                }}
                .card-button {
                    height: 12%;
                    width: 60%;
                    padding-right: 10px;
                    font-size: 20px;
                }           
            }
        }
    }
}