@use '../abstracts' as a;

.comm-card-section {
    background-color: a.$primary-color;
    width: 100%;
    box-shadow: a.$shadow;
}

.comm-card-con {
    width: 80%;
    margin: auto;
    background-color: a.$white;
    padding: 2rem;
}

.comm-card-box {
    margin: 2rem 0;
    box-shadow: a.$shadow;
}

.comm-card {
    padding: 2rem;

    h4 {
        font-size: 1.5rem;
        margin: 0.5rem 0;
        padding: 0.5rem 0;
        border-top: 2px solid a.$primary-color;
        border-bottom: 2px solid a.$primary-color;
        color: a.$secondary-color;
    }
}

.comm-card-img-con {
    background-color: a.$tertiary-color;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    margin: 1rem 0;

    .comm-card-img-box {
        border: 1px solid a.$primary-color;
        border-radius: a.$borderrad;
        box-shadow: a.$shadow;
        margin: auto;
        
        display: block;
        overflow: hidden;
        width: 30vw;
        height: 35vh;
    }

    .comm-card-img {
        object-fit: cover;
    }
    
    .comm-card-caption {
        font-size: 0.75rem;
        margin: 0.75rem auto;
        text-align: center;
    }
}

.comm-p {
    border: 1px solid a.$secondary-color;
    border-radius: a.$borderrad;
    padding: 1rem;
}