@use '../abstracts/variables' as a;


.color-content-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: a.$tb-padding;
}

.content-box-title {
    position: relative;
    display: flex;
}

.content-box-subtitle {
    position: relative;
    display: flex;
}

.content-box-text {
    position: relative;
    display: flex;
    margin: 1rem 0;
}