@use '../abstracts/variables' as a;


.color-content-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding-top: 60px;
    // padding-bottom: 100px;

    // border-bottom: solid 5px v.$primary-color;

    padding: a.$tb-padding;
}

// .gray-background {
//     background-color: rgba(a.$dark-background, 0.3);
// }

// .white-background {
//     background-color: white;
// }

.content-box-title {
    position: relative;
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    // color: a.$primary-color;
    // width: 80%;
    // margin-top: 30px;
    // margin-bottom: 20px;
}

.content-box-subtitle {
    position: relative;
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    // color: a.$primary-color;
    // width: 80%;
    // margin-top: 30px;
    // margin-bottom: 20px;
    // font-size: 30px;
}

.content-box-text {
    position: relative;
    display: flex;
    // flex-direction: column;

    margin: 1rem 0;
    // color: black;
    // font-size: 16px;
    // font-weight: bolder;
    // width: 80%;
    // margin-top: 8px;
    // margin-bottom: 8px;
}