@use '../abstracts' as a;

#hero-selection {
    display: block;
    width: 100%;
    //min-height: 100vh;
}

.hero-card-con {
    // margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hero-card {
    position: relative;
    overflow: hidden;
    flex: 0 0 50%;
    aspect-ratio: 1 / 1;

    h3 {
        transition: a.$t-time;
        color: a.$white;
    }

    video {
        transition: a.$t-time;

        transform: scale(100%);
        filter: grayscale(80%);
    }
}

.hero-card-a:hover {
    h3 {
        color: a.$primary-color;
    }

    video {
        filter: grayscale(0);
        transform: a.$scale-up;
    }
}

.hero-card h3 {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 2;
    width: 90%;
}

.hero-card-video {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    z-index: 1;
}

.hero-CTA-con {
    position: absolute;
    bottom: 10%;
    right: 5%;
    display: flex;
    flex-direction: row;

    h4 {
        display: none;
    }

    img {
        height: 2.5rem;
    }
}

@media screen and (min-width: 768px) {
    .hero-card-con {
        gap: 0;
    }

    .hero-card {
        flex: 1;
        aspect-ratio: unset;
    }

    .hero-CTA-con {

        bottom: 5%;

        a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            transition: a.$t-time;

            h4 {
                display: block;
                color: a.$white;
                font-size: 1rem;
            }
        }
    }

    .hero-card h3 {
        top: 85%;
        width: 90%;
        font-size: 2rem;
    }

    .hero-card:hover {
        .hero-CTA-con {
            a {
                padding-right: 0.5rem;
            }
        }
    }
}

@media (min-width:1200px) {

    .hero-card {
        height: 100vh;
    }
}