@use '../abstracts' as a;

#hero-selection {
    display: block;
    width: 100%;
    max-height: 100vh;
}

.hero-card-con {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hero-card {
    position: relative;
    overflow: hidden;
    flex: 50%;
    aspect-ratio: 1 / 1;
}

.hero-card h3 {
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-size: 200%;
    z-index: 2;
    font-size: 150%;
    width: 60%;
}

.hero-card-video {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    z-index: 1;
}

.hero-CTA-con {
    position: absolute;
    bottom: 10%;
    right: 5%;
    display: flex;
    flex-direction: row;

    h4 {
        display: none;
    }

    img {
        height: 2.5rem;
    }
}

@media screen and (min-width: 768px) {
    .hero-card-con {
        gap: 0;
    }

    .hero-card {
        flex: 1;
        aspect-ratio: unset;
    }

    .hero-CTA-con {

        bottom: 15%;
        a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-decoration: none;

            h4 {
                display: block;
                color: a.$white;
                margin: 1rem;
                font-size: 120%;
            }
        }

        a:hover {
            transform-origin: right;
            transform: a.$scale-up;
            transition: a.$t-time;

            h4 {
                transition: a.$t-time;
                transform: a.$scale-up;
            }

            svg {
                transition: a.$t-time;
                fill: a.$primary-color;
                transform: translateX(-25%);
                transform: scale(150%);

            }
        }
    }

    .hero-card h3 {
        bottom: 30%;
        font-size: 250%;
        max-width: 60%;
    }

    .hero-card-image:hover {
        transition: a.$t-time;
        transform: a.$scale-up;
    }
}