@use '../abstracts' as a;

.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    max-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    //attach image as background using id, 
    //change to desktop on media breakpoint
    .hero-triangle {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: a.$secondary-color;
        opacity: .8;
        display: flex;
        clip-path: polygon(100% 40%, 0% 100%, 100% 100%); 
    }
    .hero-title-con {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 20px;

        .hero-title {
            display: flex;
            text-align: end;
            p {
                font-size: 50px;
                font-weight: bold;
            }
        }
        .hero-subtitle {
            display: flex;
            p {
            color: a.$primary-color;
            font-size: 20px;
            font-weight: bold;
            }
        }
        }
    }

.hero-video-section {
    position: relative;
}

.hero-section-video {
    z-index: -1;
    // margin-top: 12.5vh;
    object-fit: cover;
    height: 100vh;
}

.home-hero-cta-link {
    z-index: 1;
    a {
        h4 {
        color: white;
        }
    }
}


@media (min-width: 768px) {
.hero-card-a {
    h3 {
    transform: translateY(-100px);
}}
}


@media (min-width:1200px) {

}
.hero-title-con-vid {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    bottom: 0;
    background-color: rgb(a.$secondary-color, 0.5) ;
    padding: 2rem;
    height: auto;
}

.hero-title-vid, .hero-subtitle-vid {
    text-align: right;
    margin-right: 1rem;
}

.hero-title-vid {
    color: a.$primary-color;
    font-size: 20px;
}

.hero-subtitle-vid {
    color: a.$white;
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {

    .hero-title {
        font-size: 1.5rem;
    }
}

// .hero {
//     position: relative;
//     width: 100%;
//     height: fit-content;
//     overflow: hidden;
//     text-align: right;
// }

//  change to img later when we have hero images
// .hero video {
//     display: block;
//     object-fit: cover;
//     filter: brightness(20%);
// }

// .hero-h1 {
//     position: absolute;
//     font-size: 500%;
//     max-width: 80%;
//     font-weight: bold;
//     bottom: 20%;
//     right: 10%;
// }

// .hero-h2 {
//     color: a.$primary-color;
//     position: absolute;
//     font-size: 100%;
//     font-weight: bold;
//     max-width: 80%;
//     bottom: 10%;
//     right: 10%;
// }

// //blue triangle hero styles
// .hero-section {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-end;
//     justify-content: flex-end;
//     max-width: 100vw;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     // height: 400px;
//     //attach image as background using id, 
//     //change to desktop on media breakpoint

//     .hero-triangle {
//         position: absolute;
//         height: 100%;
//         width: 100%;
//         background-color: a.$secondary-color;
//         opacity: .8;
//         display: flex;
//         clip-path: polygon(100% 40%, 0% 100%, 100% 100%); 
//     }
//     .hero-title-con {
//         position: relative;
//         display: flex;
//         flex-direction: column;
//         align-items: flex-start;
//         // margin: 20px;

//         .hero-title {
//             display: flex;
//             text-align: end;
//             p {
//                 font-size: 50px;
//                 font-weight: bold;
//             }
//         }
//         .hero-subtitle {
//             display: flex;
//             p {
//             color: a.$primary-color;
//             font-size: 20px;
//             font-weight: bold;
//             }
//         }
//         }
//     }

// @media screen and (min-width: 768px) {
//     .hero-h1 {
//         font-size: 1000%;
//         bottom: 20%;
//         right: 5%;
//     }

//     .hero-h2 {
//         font-size: 200%;
//         bottom: 10%;
//         right: 5%;
//     }
// }

