@use '../abstracts' as a;

.header {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.3s ease;
    will-change: transform;

    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.header.slideUp {
  transform: translateY(-100%);
}

.desktop-nav {
    display: none;
}

// HAMBURGER STYLING
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    z-index: 100;
    cursor: pointer;
    
    position: fixed;
    margin: 5%;
    right: 0;   
    
    span {
        display: block;
        width: 100%;
        height: 10%;
        background-color: a.$white;
        border-radius: 2px;
    }
}

.hamburger.X span:nth-child(1) {
    transform: rotate(45deg);
    top: 12.5px;
    position: absolute;
    transition: a.$t-time;
}

.hamburger.X span:nth-child(2) {
    opacity: 0;
    transition: a.$t-time;
}

.hamburger.X span:nth-child(3) {
    transform: rotate(-45deg);
    top: 12.5px;
    position: absolute;
    transition: a.$t-time;
}

.slide-out {
    animation: slide-out 0.25s forwards;
}

.slide-back {
    animation: slide-back 0.25s forwards;
}

@keyframes slide-out {
    0% {right:-100%;}
    100% {right: 0%}
}

@keyframes slide-back {
    0% {right: 0%;}
    100% {right: -100%}
}

.open {
    display: block;
}

.hamburger-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;

    background-color: a.$primary-color;
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;
    right: -100%;
}

.hamburger-nav ul {
    background-color: a.$white;
    height: 100vh;
    width: 70%;
    margin: auto;
    box-shadow: 
        -4px 0 16px rgba(0,0,0,0.25),
        4px 0 16px rgba(0,0,0,0.25);

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;
}

.hamburger-nav ul li.mobile-nav-li {
    transition: a.$t-time;

    &:hover {
        border: 1px a.$primary-color;
        border-style: solid none;
        // box-shadow: 
        // 0 1px 2px rgba(0,0,0,0.15),
        // 0 -1px 2px rgba(0,0,0,0.15);
        // list-style: square;
    }
}

.hamburger-nav ul li:first-child {
    grid-column: 1 / -1;
}

.logo-con {
    width: 100%;

    img {
        display: block;
        margin: 0 auto;
        padding: 1rem;
        width: 50%;
        max-height: 40vh;
        object-fit: contain;
    }
}

.nav-separator {
    background-color: a.$primary-color;
    height: 0.3%;
    width: 80%;
    margin: 0.5rem auto 1.5rem auto;
    border-radius: 1rem;

    grid-column: 1 / -1;
}

.mobile-nav-item {
    display: block;
    text-decoration: none;
    color: a.$white;
    padding: 5% 20%;

    font-size: 1rem;
    color: a.$primary-color;

    width: 100%;
    margin: auto;

    transform-origin: left;
    transition: a.$t-time;

    &:hover {
        color: a.$primary-color;
        transform: scale(120%);
        transform: translateX(10%);
    }

    &:active {
        color: a.$black;
    }
}


@media screen and (min-width: 768px) {
    
    .hamburger {
        display: none;
    }

    .hamburger-nav {
        display: none;
    }

    .desktop-logo {
        display: block;
        place-content: center;
        height: 100%;

        img {
            transition: a.$t-time;

            &:hover {
                transform: scale(110%);
            }

            &:active {
                transform: scale(100%);
            }
        }
        
    }

    .desktop-nav {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 1000;

        box-shadow: 2px 2px 8px rgba(0,0,0,0.25);
    }
    
    .desktop-nav > ul {
        background-color: a.$primary-color;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        height: 12.5vh;
    }

    .m-l-nav-item:first-child {
        margin-right: auto;
        margin-left: 3%;
        
        pointer-events: none;
        a {
            pointer-events: all;
        }
    }

    .m-l-nav-item {
        width: 10%;
        height: 100%;
        margin: 0;
    }

    .nav-anchor {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        place-content: center;
        transition: a.$t-time;

        &:hover {
            border: 0.5px a.$white;
            border-style: none solid;
            background-color: darken(a.$primary-color, 3%);

            font-size: 120%;
        }

        &:active {
            font-size: 100%;
        }
    }

    // DROP DOWN STYLING
    .drop-down-wrap {
        position: relative;
        cursor: pointer;
    }

    .dropdown-menu {
        display: flex;
        flex-direction: column;
        width: 200%;

        position: absolute;
        bottom: 0;
        
        // centering logic
        left: 50%;
        transform: translateX(-50%);

        z-index: -1;
        opacity: 0;
        transition: a.$t-time;
    }

    .droppingDown {
        opacity: 1;
        
        // adjust this for dropdown nav consideration
        transform: translateX(-50%) translateY(100%);
    }

    .dropdown-item {
        height: 10vh;
        background-color: a.$tertiary-color;
    }

    .dropdown-anchor {
        color: a.$primary-color;
        transition: a.$t-time;   

        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 100%;
        background-color: a.$tertiary-color;

        &:hover {
            border: 0.5px a.$primary-color;
            border-style: solid none;
            background-color: darken(a.$tertiary-color, 5%);

            font-size: 120%;
        }

        &:active {
            font-size: 100%;
        }
    }

    #history-nav {
        cursor: default;
    }
}