@use '../abstracts' as a;

.text-con {
    background-color: a.$primary-color;
    width: 100%;
}

.text-box {
    width: 80%;
    margin: auto;
    background-color: a.$white;
    box-shadow: a.$shadow;

    // has to match column gap below
    padding: 4rem;
}

@media screen and (min-width: 768px) {

    .text-box {
        columns: 2;
        column-gap: 4rem;
    }
    // .text-con {
    //     h3 {
    //         font-size: 300%;
    //     }

    //     p {
    //         margin-bottom: 4rem;
    //     }
    // }

    // .text-con-b {
    //     h3 {
    //         font-size: 300%;
    //     }

    //     p {
    //         margin-bottom: 4rem;
    //     }
    // }
}
