@use '../abstracts' as a;

.text-con {
    background-color: a.$primary-color;
    width: 100%;
}

.text-box {
    width: 80%;
    margin: auto;
    background-color: a.$white;
    box-shadow: a.$shadow;

    // has to match column gap below
    padding: 4rem;

    p {
        // max character length for readability
        max-width: 65ch;
    }
}

.text-box-full {
    width: 80%;
    margin: auto;
    background-color: a.$white;
    box-shadow: a.$shadow;

    padding: 4rem;
}

@media screen and (min-width: 768px) {

    .text-box {
        columns: 2;
        column-gap: 4rem;
    }
    
}
