@use '../abstracts/variables' as a;

html {
    font-size: a.$base-font-size;
    scrollbar-gutter: stable;
}

body {
    color: a.$black;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3, h4 {
    font-size: 2.5rem;
}

h1, h2, h3, h4 {
    color: a.$primary-color;
    font-family: a.$font-h;
}

p {
    font-size: 1rem;
    line-height: 1.7;
    font-family: a.$font-p;
}

a {
    color: a.$white;
    text-decoration: none;
    font-family: a.$font-h;
}

button {
    font-family: a.$font-h;
}

// SPAN STYLING
.text-highlight {
    color: a.$primary-color;
    font-weight: bold;
}