@use 'fonts';

$primary-color: #B3262E;
$secondary-color: #91B8D9;
// $secondary-color: #a87375;
// $tertiary-color: #cecccd;
$tertiary-color: #f7f7f7;
$accent-color: #FFC000;

$black: #000;
$white: #fff;

$body-text-color: #ffffff;
$menu-element-color: rgb(37, 37, 37);
$dark-background: #3c3c3c;

// GLASS MORPHISM VALUES
$glass-morph: linear-gradient(to bottom right, #bdbdbd80, #bdbdbd00);
$glass-morph-stroke: linear-gradient(to bottom right, #ffffffaa, #ffffff35);

$glass-morph-active: linear-gradient(to top left, #8a8a8a00, #8a8a8a80);
$glass-morph-stroke-active: linear-gradient(to bottom right, #4a4a4a35, #4a4a4a00);