@use '../abstracts' as a;


// <div class="CTA-con">
//     <a href="about.html">
//         <h4>Read More</h4>
//         <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#fff"><path d="m560-242-43-42 168-168H160v-60h525L516-681l43-42 241 241-240 240Z"/></svg>
//     </a>
// </div>

.CTA-con {

    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: right;

    a {
        display: flex;
        justify-content: right;
        align-items: center;
        text-decoration: none;
        border-bottom: 0.5rem solid a.$primary-color;

        h4 {
            color: a.$white;
        }
    }
}

#timeline-CTA {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    text-align: right;
    border-top: 0.5rem solid a.$primary-color;

    // make adjustments to general CTA based on the position and width values of timeline-CTA

    a {
        display: flex;
        justify-content: right;
        align-items: center;
        text-decoration: none;
        background-color: a.$primary-color;
        width: 50%;
        margin-left: auto;

        h4 {
            color: a.$white;
        }
    }
}