footer {
    padding-top: 30px;
    padding-bottom: 100px;

    .f-left-col:hover {
        text-decoration: underline red;
    }

    div {
        padding: 10px;
        a {
            text-decoration: none;
            color: white;
        }
        a:hover {
            color: red;
        }

        h3 {
            color: white;
        }
    }
}
