@use '../abstracts/fonts';
@use '../abstracts/mixins';
@use '../abstracts/variables' as v;
@use '../base/typography';

.form-con {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .5;
    width: 100vw;
    .input-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        background-color: rgba(v.$dark-background, 0.5);
        border: solid 2px v.$dark-background;
        border-radius: 5px;
        padding: 20px;
    }
}

.form-box {
    background-color: white;
    color: black;
    font-weight: bold;
    border: solid 0px;
    border-radius: 5px;
    text-align: left;
    font-style: italic;
    margin-bottom: 20px;
    padding: 10px;
    width:100%;
    //animation: blink 1.5s step-start infinite;
}

@keyframes blink {
  0%, 100% {opacity: 1}
    50% {color: rgba(0, 0, 0, 0.0);}
}
