@use '../abstracts/fonts';
@use '../abstracts/mixins';
@use '../abstracts/variables' as v;
@use '../base/typography';

.contact-hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100vw;
    background-image: url("../../images/canteen-images/mobile/m-airmans-building.png");
    background-size: cover;
    height: 300px;
    .contact-triangle {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: v.$secondary-color;
        opacity: .8;
        display: flex;
        clip-path: polygon(100% 40%, 0% 100%, 100% 100%); 
    }
    .get-in-touch {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 20px;

        .contact-title {
            display: flex;
            p {
                font-size: 50px;
                font-weight: bold;
            }
        }
        .contact-subtitle {
            display: flex;
            p {
            color: v.$primary-color;
            font-size: 20px;
            font-weight: bold;
            }
        }
        }
    }

    .contact-message {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;

        .contact-mission {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;
            p {
                color: v.$primary-color;
                font-weight: bold;
                font-style: italic;
            }
        }

        .contact-question {
            position: relative;
            display: flex;
            margin: 10px;
            p {
                color: black;
            }
        }
    }

.form-con {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box {
    background-color: rgba(0, 0, 0, 0.0);
    color: v.$primary-color;
    font-weight: bold;
    border: solid 3px v.$primary-color;
    text-align: center;
    margin: 10px auto 20px auto;
    padding: 10px;
    width:250px;
    //animation: blink 1.5s step-start infinite;
}

@keyframes blink {
  0%, 100% {opacity: 1}
    50% {color: rgba(0, 0, 0, 0.0);}
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}