@use '../abstracts' as a;

.hero {
    position: relative;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    text-align: right;
}

//  change to img later when we have hero images
.hero video {
    display: block;
    object-fit: cover;
    filter: brightness(20%);
}

.hero-h1 {
    position: absolute;
    font-size: 500%;
    max-width: 80%;
    font-weight: bold;
    bottom: 20%;
    right: 10%;
}

.hero-h2 {
    color: a.$primary-color;
    position: absolute;
    font-size: 100%;
    font-weight: bold;
    max-width: 80%;
    bottom: 10%;
    right: 10%;
}

@media screen and (min-width: 768px) {
    .hero-h1 {
        font-size: 1000%;
        bottom: 20%;
        right: 5%;
    }

    .hero-h2 {
        font-size: 200%;
        bottom: 10%;
        right: 5%;
    }
}

.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100vw;
    background-size: cover;
    height: 300px;
    //add background image to this
    .hero-triangle {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: v.$secondary-color;
        opacity: .8;
        display: flex;
        clip-path: polygon(100% 40%, 0% 100%, 100% 100%); 
    }
    .hero-title-con {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 20px;

        .hero-title {
            display: flex;
            text-align: end;
            p {
                font-size: 50px;
                font-weight: bold;
            }
        }
        .hero-subtitle {
            display: flex;
            p {
            color: v.$primary-color;
            font-size: 20px;
            font-weight: bold;
            }
        }
        }
    }