@use '../abstracts/fonts';
@use '../abstracts/mixins';
@use '../abstracts/variables' as v;
@use '../base/typography';

.gray-content-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 100px;
    background-color: rgba(v.$dark-background, 0.3);
    border-bottom: solid 5px v.$primary-color;
}

.content-box-title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: v.$primary-color;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 20px;

}

.content-box-subtitle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: v.$primary-color;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
}

.content-box-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    width: 80%;
    margin-top: 8px;
    margin-bottom: 8px;
}