#hero-selection {
    display: flex;
    flex-direction: column;
}

.hero-card {
    position: relative;
}

.hero-card h3 {
    position: absolute;
    bottom: 12.5%;
    left: 5%;
    font-size: 200%;
}

.hero-card-image {
    width: 100%;
    height: 100%;
    display: block;
}

.CTA-con {
    position: absolute;
    bottom: 5%;
    right: 5%;
    display: flex;
    flex-direction: row;
    h4 {
        display: none;
    }

    svg {
        right: 5%;
    }
}

@media screen and (min-width: 768px) {
    
}