@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

#hero-selection {
    display: block;
    width: 100%;
}

.hero-card-con {
    display: flex;
    flex-direction: column;
}

.hero-card {
    position: relative;
    overflow: hidden;
}

.hero-card h3 {
    position: absolute;
    bottom: 12.5%;
    left: 5%;
    font-size: 200%;
    z-index: 2;
}

.hero-card-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: 1;
}

.CTA-con {
    position: absolute;
    bottom: 5%;
    right: 5%;
    display: flex;
    flex-direction: row;

    h4 {
        display: none;
    }

    svg {
        right: 5%;
    }
}

@media screen and (min-width: 768px) {
    .hero-card-con {
        flex-direction: row;
        gap: 0;
    }

    .hero-card {
        flex: 1;
    }

    .CTA-con {
        a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-decoration: none;

            h4 {
                display: block;
                color: white;
                margin: 1rem;
                font-size: 120%;
            }
        }

        a:hover {
            transform: m.$scale-up;
            transition: m.$t-time;

            h4 {
                color: v.$primary-color;
            }

            svg {
                fill: v.$primary-color;
            }
        }
    }

    .hero-card h3 {
        font-size: 400%;
        max-width: 50%;
    }

    .hero-card-image:hover {
        transition: m.$t-time;
        transform: m.$scale-up;
    }
}