@use '../abstracts/fonts';
@use '../abstracts/mixins';
@use '../abstracts/variables' as v;
@use '../base/typography';

Header {
    position: sticky;
    top: 0;
}

.m-l-nav-item {
    display: none;
    a {
        text-decoration: none;
        padding: 10px;
    }
} 

.hover-item {
    color: white;
    background-color: rgba(0,0,0,0);
}

.hover-item:hover {
    color: v.$menu-element-color;
    background-color: white;
}

nav {
    background-color: rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
.mobile-nav-element {
    list-style: none;
    display: block;
            a {
                display: flex;
                align-items: center;
                justify-content: left;
                text-decoration: none;
                min-height: 50px;
            }
    }
}

#logo {
    display: block;
    text-align: center;
    width: 100px;
            a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            min-height: 50px;
            }
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin: 0 20px 0 auto;
    position: relative;
    cursor: pointer;
        span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: white;
            border-radius: 2px;
        }
}

.hamburger-dropdown {
    display: none;
    position: absolute;
    background-color: v.$menu-element-color;
    padding: 10px;
    top: 34px;
    right: -100%;
    width: 200px;
    list-style: none;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    a {
        text-decoration: none;
    }
}

.slide-out {
    animation: slide-out 0.25s forwards;
}

.slide-back {
    animation: slide-back 0.25s forwards;
}

@keyframes slide-out {
    0% {right:-100%;}
    100% {right: 0%}
}

@keyframes slide-back {
    0% {right: 0%;}
    100% {right: -100%}
}

.open {
    display: block;
}

  .hamburger.X span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
    position:absolute;
  }
  
  .hamburger.X span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.X span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
    position: absolute;
  }


//desktop dropdown menu

.drop-down-wrap {
    position: relative;
    margin: 0 0 0 auto;
    height: 80px;
}

.dropdown {
    position: relative;
}

@keyframes dropDown {
    0% {top:-400%}
    100% {top: 100%}
}

//tablet/desktop dropdown menu styles
.dropdown-menu {
    display: none;
    position: absolute;
    top: -400%;
    left: 0;
    background-color: rgba(0,0,0,0);
    max-width: inherit;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: -1;
    animation: dropDown 0.25s forwards;

    //li within the dropdown ul
    li {
    position: relative;
    text-decoration: none;
    text-align: right;
    height: 80px;
    width: 150px;
    background-color: rgba(0,0,0,0);
    filter: drop-shadow(-20px 10px 30px black);

    //triangle element within the dropdown menu
    div{    
        position: absolute;
        inset: 0;
        clip-path: polygon(0 0, 100% 100%, 100% 0);
    }

    //link within the list item
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        inset: 0;
        color: white;
        z-index: 12;
        position: absolute;
    }
    }
}

.dropdown-menu li:hover {
    div {
    background-color: red;
    }
}

.dropdown-menu a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

//tablet and larger screen width styles
@media (min-width: 768px) {

.hamburger {
        display: none;
    }

.hamburger-dropdown {
        display: none;
}

#history-nav {
    margin-left: auto;
    overflow: visible;
}

.m-l-nav-item {
    display: block;
    text-align: center;
    width: 150px;
        div {
        clip-path: polygon(0 0, 100% 100%, 100% 0);
        height: 80px;
        width: 150px;
        top: 0;
        position: absolute;
        }    

        a {
            display: block;
            text-align: right;
            padding-right: 20px;
            text-decoration: none;
            height: 80px;
            width: 150px;
            color: white;
            position: absolute;
            top: 0;
            }
}

.m-l-nav-item:hover {
    div {
    background-color: red;
    }
}


    //navbar styles
nav {
        div {
            display: block;


        }
    }


.open {
    display: none;
}

//history dropdown menu styles 
.drop-down-wrap:hover .dropdown-menu {
    display: block;
}



.overlay-primary {
    display: flex;
    flex-direction: row;
}

}