@use '../abstracts/fonts';
@use '../abstracts/mixins';
@use '../abstracts/variables' as v;
@use '../base/typography';

Header {
    position: sticky;
}

.m-l-nav-item {
    display: none;
    a {
        text-decoration: none;
        padding: 10px;
    }
} 


.hover-item {
    color: white;
    background-color: rgba(0,0,0,0);
}

.hover-item:hover {
    color: v.$menu-element-color;
    background-color: white;
}

nav {
    background-color: v.$menu-element-color;
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid white;
.mobile-nav-element {
    list-style: none;
    display: block;
            a {
                display: flex;
                align-items: center;
                justify-content: left;
                text-decoration: none;
                min-height: 50px;
            }
    }
}


#logo {
    display: block;
    text-align: center;
    width: 100px;
            a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            min-height: 50px;
            }
}

#close {
     border: none;
     border-radius: 15px;
     svg {
     max-width: 40px;
     max-height: 40px;
}}

.mobile-dropdown {
    position: relative;
    margin: 0 20px 0 auto;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin: 0 20px 0 auto;
    position: relative;
    cursor: pointer;
        span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: v.$secondary-color;
            border-radius: 2px;
        }
}

.hamburger-dropdown {
    display: none;
    position: absolute;
    background-color: v.$primary-color;
    padding: 10px;
    top: 24px;
    right: -100%;
    width: 120px;
    border-left: 1px solid v.$secondary-color;
    border-bottom: 1px solid v.$secondary-color;
    a {
        text-decoration: none;
    }
}

.open {
    display: block;
}
.slide-out {
    animation: slide-out 0.25s forwards;
}

.slide-back {
    animation: slide-back 0.25s forwards;
}

@keyframes slide-out {
    0% {right:-100%;}
    100% {right: 0%}
}

@keyframes slide-back {
    0% {right: 0%;}
    100% {right: -100%}
}

.open {
    display: block;
}

  .hamburger.X span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
    position:absolute;
  }
  
  .hamburger.X span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.X span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
    position: absolute;
  }
// .dropdown-menu {
//     display: none;
//     position: absolute;
//     top: -400%;
//     left: 0;
//     background-color: v.$menu-element-color;
//     max-width: inherit;
//     box-shadow: 0 8px 16px rgba(0,0,0,0.2);
//     list-style: none;
//     padding: 0;
//     margin: 0;
//     z-index: -1;
//     animation: dropDown 0.25s forwards0;
// }

.dropdown {
    position: relative;
}

@keyframes dropDown {
    0% {top:-400%}
    100% {top: 100%}
}

.dropdown-menu li {
    border-bottom: 1px solid white;
}

.dropdown-menu a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

//tablet and larger screen width styles
@media (min-width: 768px) {

.hamburger {
        display: none;
    }

.hamburger-dropdown {
        display: none;
}

#history-nav {
    margin-left: auto;
}

.m-l-nav-item {
    display: block;
    text-align: center;
    width: 170px;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            min-height: 50px;
            }
}

    //navbar styles
nav {
        div {
            display: block;


        }
    }


.open {
    display: none;
}

//history dropdown menu styles 
.dropdown:hover .dropdown-menu {
    display: block;
}



.overlay-primary {
    display: flex;
    flex-direction: row;
}

}