@use '../abstracts/fonts';
@use '../abstracts/mixins';
@use '../abstracts/variables' as v;
@use '../base/typography';

.hidden {
    display: none;
}

.hover-item {
    color: white;
    background-color: v.$menu-element-color;
}

.hover-item:hover {
    color: v.$menu-element-color;
    background-color: white;
}

.m-l-nav-item {
    display: none;
}

header {
    top:0;
    position: sticky;
    z-index: 100;
}

nav {
    background-color: v.$menu-element-color;
    display: flex;
    flex-direction: row;
.mobile-nav-element {
    list-style: none;
    display: block;
            a {
                display: flex;
                align-items: center;
                justify-content: left;
                text-decoration: none;
                min-height: 50px;
            }
    }
}

#logo {
    display: block;
    text-align: center;
    width: 100px;
            a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            min-height: 50px;
            }
}

#hamburger {
     border: none;
     border-radius: 15px;
 }

#close {
     border: none;
     border-radius: 15px;
     svg {
     max-width: 40px;
     max-height: 40px;
}}

.mobile-dropdown {
    position: relative;
    margin: 0 20px 0 auto;
}

.hamburger-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: -220%;
    background-color: v.$menu-element-color;
    min-width: 170px;
    list-style: none;
    padding: 0;
    margin: 0 100px 0 10px;
        li {
              border-bottom: 1px solid white; 
              a{
              max-width: 150px;
              padding: 0 0 0 10px 
              }}
}

.opening {
    display: block;
    animation: slide-out 0.25s forwards;
}

.closing {
    display: block;
    animation: slide-back 0.25s forwards;
}

@keyframes slide-out {
    0% {left:120%;}
    100% {left:-220%}
}

@keyframes slide-back {
    0% {left:-220%;}
    100% {left:120%}
}

.open {
    display: block;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: -400%;
    left: 0;
    background-color: v.$menu-element-color;
    max-width: inherit;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: -1;
    animation: dropDown 0.25s forwards;
}

@keyframes dropDown {
    0% {top:-400%}
    100% {top: 100%}
}

.dropdown-menu li {
    border-bottom: 1px solid white;
}

.dropdown-menu a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

//tablet and larger screen width styles
@media (min-width: 768px) {

    #hamburger {
        display: none;
    }

    #close {
        display: none;
    }

.mobile-dropdown {
    margin-left: 0;
}

#history-nav {
    margin-left: auto;
}

.m-l-nav-item {
    display: block;
    text-align: center;
    width: 170px;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            min-height: 50px;
            }
}

    //navbar styles
nav {
        div {
            display: block;


        }
    }


.open {
    display: none;
}

//history dropdown menu styles 
.dropdown:hover .dropdown-menu {
    display: block;
}



.overlay-primary {
    display: flex;
    flex-direction: row;
}

}