@use '../abstracts' as a;

#tl-scroll-prog-con {
    position: sticky;
    top: 0;
    width: 25%;
    height: 100vh;
    display: flex;
    align-items: center;

    // Animate
    opacity: 0;
    transform: translateY(100vh);
    transition: opacity 1s ease, transform 1s ease;
}

#tl-scroll-prog-con.visible {
    opacity: 1;
    transform: translateY(0);
}

#tl-scroll-prog-fill {
    width: 1rem;
    height: 100%;
    margin-left: 20%;
    background: a.$secondary-color;
    opacity: 75%;
}

.tl-marker {
    display: block;
    text-decoration: none;
    color: a.$primary-color;
    font-size: 200%;
    font-weight: bold;
    margin: 8vh 0;
}

.tl-marker:first-child {
    margin-top: 20vh;
}