@use '../abstracts' as a;

.timeline-section {
    position: relative;
}

.tl-alpha-con {
    max-height: 100vh;
    overflow-y: auto;
    scroll-timeline-name: --tl-scroll;
    scroll-timeline-axis: block;
    position: relative;
    // add some possible padding
    background-color: red;
}

#tl-scroll-prog-con {
    position: sticky;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#tl-scroll-prog-fill {
    width: 1rem;
    height: 100%;
    background-color: cyan;
    border-radius: a.$borderrad;
}

#tl-scroll-markers-con {
    background-color: blue;
}

.tl-marker {
    background-color: yellow;
    color: black;
    text-decoration: none;
}
