@use '../abstracts' as a;


@keyframes stacking {
    0% {
        transform: translateY(0) translateZ(0) rotateX(0) scale(1);
    }

    33% {
        transform: translateY(20%) translateZ(-20%) rotateX(90deg) scale(0.5);
    }

    66% {
        transform: translateY(10%) translateZ(-10%) rotateX(45deg) scale(0.75);
    }

    100% {
        transform: translateY(0) translateZ(0) rotateX(0) scale(1);
    }
}

// Specific Beta Scrolling Index

#tl-beta-1 {
    --beta-i: 1;
}

#tl-beta-2 {
    --beta-i: 2;
}

#tl-beta-3 {
    --beta-i: 3;
}

#tl-beta-4 {
    --beta-i: 4
}

#tl-beta-5 {
    --beta-i: 5;
}

#tl-beta-6 {
    --beta-i: 6;
}