@use '../abstracts' as v;

#BOB-page {
    color: white;

    
    .hero {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 200px 5px;
        background-image: url(../../images/BOB-images/desktop/d-bob-hero.png);
        text-align: right;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h2 {
            font-size: 200%;
            padding-bottom: 2rem;
            text-align: center;
        }

        p {
            text-align: left;
            margin: 5px;
            font-size: 150%;
            width: 90vw;
        }

        #skipQuote {
            background-color: transparent;
            border: none;
            transition: all 0.5s ease;
            cursor: pointer;
        }

        #skipQuote:hover {
            transform: scale(150%);
        }

        #skipQuote:active {
            transform: scale(90%);
        }
    }
}

.dossier-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding-top: 2rem;
    position: relative;
}

.dossier {
    background-image: url(../../images/BOB-images/folder-texture.png);
    text-align: center;
    box-shadow: -5px -5px 5px black;
    position: absolute;
    width: 100vw;
    height: fit-content;
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.dossier-content {
        color: black; 
        width: 90%;
        font-size: 18px;
}

.dossier:hover {
transform: translateY(-40px);
transition: all 0.5s ease;
}

.dossier:hover ~ .dossier {
transform: translateY(30px);
transition: all 0.5s ease;
}

.dossier-tag {
    position: absolute;
    box-shadow: -5px -5px 5px black;
    height: 60px; 
    left: 20px;
    padding: 0 1rem 0 1rem;
    border-radius: 1rem 1rem 0 0;
    background-image: url(../../images/BOB-images/folder-texture.png);
    top: -60px;
    font-size: 40px;
    color: black;
}

#july {
    z-index: 50;
    top: -80px;
}

#august {
    z-index: 60;
    top:-20px;

}

#september {
    z-index: 70;
    top: 40px;
}

#october {
    z-index: 80;
    top: 100px;
}


#cover {
    display: none;
    background-color: transparent;
    z-index: 6;
    position: absolute;
    opacity: 1;
    transition: all 1s ease;
}

#cover.hideCover {
    opacity: 0;
    transform: translateY(100%);
}

#july-tag {
    left: 0%;
    z-index: 5;
}

#aug-tag {
    left: 25%;
    z-index: 4;
}

#sept-tag {
    left: 50%;
    z-index: 3;
}

#oct-tag {
    left: 75%;
    z-index: 2;
}

.deaths-section {
    background-image: url(../../images/BOB-images/desktop/d-bob-losses-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;

    padding: 2rem;

    h2, p {
        margin: 2rem;
    }

    p {
        font-size: 150%;
    }
}

.deaths-info-con {
    text-align: left;
    display: flex;
}

.deaths-info-bot {
    text-align: left;
}

.canadian-pilots-section {
    background-color: #666;

    .canadian-pilots-card {
        padding: 5rem;
    }

    .pilots-card-content {
        display: flex;
        padding: 2rem;
        background-color: #333;
        height: fit-content;

        .pilots-card-img-con {
            width: 50%;
            background-color: black;
            text-align: center;
            padding: 2rem;

            img {
                height: fit-content;
            }
        }

        .pilots-card-text-con {
            width: 50%;
            align-items: center;
            margin: auto;
            padding: 2rem;

            p {
                margin: 2rem;
                font-size: 120%;
            }
        }
    }
}

