@use '../abstracts';

#canteen-hero {

    video {
        filter: brightness(100%);
    }
}

#canteen-about-section {
    
    p {
        margin: 2rem 0;
    }
}

.canteen-gallery-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-con {
    width: 100%;

    img:hover {
        transform: scale(110%);
        transition: 0.3s ease-in;
    }
}

.foreg {
    z-index: 2;
}

.backg {
    z-index: 1;
    width: 50%;
}

.canteen-image-con {
    text-align: center;
    
}

#quad-container {
    display: flex;
    flex-wrap: wrap;
}

.gallery-quad {
    flex: 0 0 calc(50% - 1rem);
    background-image: url(../../images/canteen-images/desktop/d-airmans-gallery-1.png);
    background-size: cover;
    padding: 2rem;
}

@media screen and (min-width: 768px) {
    .backg {
        width: 100%;
    }
}