@use '../abstracts';

#commemoration-page {
    color: white;

    .hero {
        background-image: url(/images/comm-images/comm-hero-placeholder.png);
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }

    .hero h2, .hero p {
        top: 50%;
        text-align: center;
    }
}

.comm-mini {
    background-color: abstracts.$primary-color;
    padding: 1rem;

    h2, p {
        margin: 1rem;
        text-align: center;
    }
}

.comm-card {
    display: flex;
    background-color: #666;
    max-height: 50vh;
    justify-content: space-between;

    .comm-card-info {
        margin: auto;
        background-color: #333;
    }

    .comm-img-card img {
        height: 100%;
    }
}

