@use '../abstracts' as a;

#commemoration-hero {

    .hero-h1 {
        font-size: 300%;
    }

    @media screen and (min-width: 768px) {
        .hero-h1 {
            font-size: 800%;
        }
    }
}

// EXPANDABLE SELECTION STYLING

.comm-beta-con {
    position: relative;
    
    .comm-beta-headers {
        // BetaText Styling
        h2, h3 {
            color: a.$primary-color;
            margin: 2rem;
            z-index: 2;
        }
    }

    .comm-beta-img-box {
        position: relative;

        picture {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            // adjust this for image padding
            padding: 2rem;

            img {
                width: 50%;
                height: auto;
                z-index: 2;
            }
        }

        .comm-beta-p {
            position: block;
            color: a.$black;
            padding: 2rem 1rem;    
            z-index: 2;
        }

        .comm-beta-bg {
            position: absolute;
            inset: 0;
            z-index: 1;
            background-color: a.$tertiary-color;
        }
    }
}

