@use '../abstracts/fonts';
@use '../abstracts/mixins';
@use '../abstracts/variables' as v;
@use '../base/typography';

    #event-hero-section {
        background-image: url("/images/canteen-images/desktop/d-airmans-420-squad.png");
    }

    .event-updates {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(v.$dark-background, 0.3);
        padding: 10px;

        .updates-text {
            display: flex;
            text-align: center;
            margin: 10px;
            p {
                display: flex;
                font-weight: bold;
                color: black;
            }
        }
        .events-buttons-list {
            display: flex;
            flex-direction: column;
            margin: 5px 5px 20px 5px;
            #upcoming-events-button {
                display: flex;
            }
            #latest-blogs-button {
                display: flex;
            }
            #latest-news-button {
                display: flex;
            }
        }
    }
