@use '../abstracts/fonts';
@use '../abstracts/mixins';
@use '../abstracts/variables' as v;
@use '../base/typography';

.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100vw;
    background-image: url("../../images/");
    background-size: cover;
    height: 300px;
    .hero-triangle {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: v.$secondary-color;
        opacity: .8;
        display: flex;
        clip-path: polygon(100% 40%, 0% 100%, 100% 100%); 
    }
    .hero-title-con {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 20px;

        .hero-title {
            display: flex;
            text-align: end;
            p {
                font-size: 50px;
                font-weight: bold;
            }
        }
        .hero-subtitle {
            display: flex;
            p {
            color: v.$primary-color;
            font-size: 20px;
            font-weight: bold;
            }
        }
        }
    }

    .event-updates {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(v.$dark-background, 0.3);
        padding: 10px;

        .updates-text {
            display: flex;
            text-align: center;
            margin: 10px;
            p {
                display: flex;
                font-weight: bold;
                color: black;
            }
        }
        .events-buttons-list {
            display: flex;
            flex-direction: column;
            margin: 5px 5px 20px 5px;
            #upcoming-events-button {
                display: flex;
            }
            #latest-blogs-button {
                display: flex;
            }
            #latest-news-button {
                display: flex;
            }
        }
    }
