@use '../abstracts/fonts';
@use '../abstracts/mixins';
@use '../abstracts/variables' as v;
@use '../base/typography';

    #event-hero-section {
        background-image: url("/images/canteen-images/desktop/d-airmans-420-squad.png");
    }

    .event-updates {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(v.$dark-background, 0.3);
        padding: 10px;

        .updates-text {
            display: flex;
            text-align: center;
            margin: 10px;
            p {
                display: flex;
                font-weight: bold;
                color: black;
            }
        }
        .events-buttons-list {
            display: flex;
            flex-direction: column;
            margin: 5px 5px 20px 5px;
            #upcoming-events-button {
                display: flex;
            }
            #latest-blogs-button {
                display: flex;
            }
            #latest-news-button {
                display: flex;
            }
        }
    }

    .events-featured-work {
        display: flex;
        flex-direction: column;
        align-items: center;
        .events-work-box {
            width: 80vw;
            height: 50vw;
            border: solid 3px rgba(v.$dark-background, 0.3);
        }
        .event-title {
            color: v.$primary-color;
            font-weight: 800;
            font-size: 30px;
            width: 80vw;
            margin:10px;
        }
        .event-date {
            color: black;
            font-weight: 900;
            width: 80vw;
            margin: 10px;
        }
        .event-description {
            color: black;
            width: 80vw;
            margin: 10px;
        }
    }


    .underline-title {
            border-bottom: solid 8px v.$primary-color;
            width: 80vw;
                    margin: 80px auto 50px auto;
            h1 {
                font-weight: bold;
                font-size: 60px;
                color: v.$primary-color;
            }
    }

    .read-more {
        position: relative;
        border-top: solid 10px v.$primary-color;
        margin-top: 50px; 
        .read-more-button {
                background-color: v.$primary-color;
                position: absolute;
                font-size: 40px;
                display: flex;
                z-index: 100;
                right: 0px;
                top: -63px;
                height: 60px;
                width: 33vw;
                clip-path: polygon(24% 0%, 100% 0%, 100% 100%, 0% 100%);
                color: white;
                align-items: center;
                justify-content: center;
                padding: 20px;
                cursor: pointer;
        }
    }

    .card-carousel {
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
        width: 100%;
        white-space: nowrap;

        .carousel-background {
            position: absolute;
            transform: translateY(100px);
            z-index: -1;
            background-color: v.$secondary-color;
            height: 370px;
            width: 100%;
        }
        .carousel {
            display: flex;
            flex-direction: row;
            width: max-content;
            animation: scroll-left 60s linear infinite;

            &:hover {
                animation-play-state: paused;
            }

                    @keyframes scroll-left {
            0%   { transform: translateX(0); }
            100% { transform: translateX(-50%); }
        }
            .event-card {
                background-color: white;
                position: relative;
                z-index: 100;
                display: flex;
                width: 580px;
                height: 580px;
                box-shadow: 2px 2px 2pc black;
                margin: 40px;
                flex-direction: column;
                border: solid 1px rgba(v.$dark-background, 0.3);
                container-type: inline-size;

                .sub-card {
                    background-color: v.$primary-color;
                    position: absolute;
                    width: 170px;
                    height: 240px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    span {
                        font-size: 40px;
                        font-weight: bold;
                    }
                }
                h1 {
                        display: flex;
                        color: black;
                        position: absolute;
                        top: 420px;
                        left: 20px;
                    }
                .card-text {
                    color: black;
                    position: absolute;
                    top: 470px;
                    font-size: 25px;
                    left: 20px;
                    white-space: normal;
                    p {
                    width: 80%px;
                    height: 100px;
                }}
                .card-button {
                    background-color: v.$primary-color;
                    position: absolute;
                    display: flex;
                    right: 0px;
                    bottom: 0px;
                    height: 40px;
                    width: 300px;
                    clip-path: polygon(24% 0%, 100% 0%, 100% 100%, 0% 100%);
                    color: white;
                    align-items: center;
                    justify-content: center;
                }           
            }
        }
    }

    .sign-up-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100vw;
        height: 500px;
        background-color: v.$secondary-color;
        .sign-up-title {
            color: v.$primary-color;
            font-size: 35px;
            text-align: center;
            font-weight: 900;
        }
        .sign-up-subtitle {
            color: black;
            font-size: 40px;
            font-weight: 700;
            margin-top: 25px;
        }
        .form-con-sign-up {
            margin-top: 35px;
            .sign-up-form {
                display: flex;
                flex-direction: row;
                width: 70vw;
                align-items: center;
                justify-content: center;
                .form-box-sign-up {
                    border: solid 3px rgba(v.$dark-background, 0.3);
                    min-width: 30vw;
                    height: 80px;
                    font-size: 30px;
                    text-align: center;
                }
                .sign-up-button {
                    background-color: v.$primary-color;
                    color: white;
                    height: 80px;
                    min-width: 16vw;
                    margin-left: 25px;
                    font-size: 30px;
                }
            }
        }
    }


