@use '../abstracts/variables' as v;

// Intro

#home-intro {
    background-color: #cecccd;
    padding: 4rem;
    position: relative;

    h3 {
        color: v.$primary-color;
        margin: 2rem 0;
    }

    p {
        color: v.$black;
        margin-bottom: 1rem;
    }
}

// D&B Section

#date-and-blog-section {
    position: relative;
}

#dynamic-date {
    background-color: v.$secondary-color;
    padding: 1rem;
}

#blog-text-content {
    background-color: v.$white;
    
    h2, p {
        margin: 1rem 2rem;
    }

    p {
        margin-bottom: 2rem;
    }
}

#blog-con {
    background-color: v.$secondary-color;
    padding-top: 6rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: row;

}

.blog-box:nth-child(2),
.blog-box:nth-child(3) {
    display: none;
}

.blog-box {
    background-color: v.$white;
    width: 100%;
    aspect-ratio: 1 / 1;
    text-align: center;
    align-items: center;
    border: 1px solid v.$dark-background;

    svg {
        padding: 4rem;
        height: auto;
    }

    p {
        font-size: 200%;
    }
}

@media screen and (min-width: 768px) {
    #home-intro {
        h3 {
            font-size: 300%;
        }

        p {
            margin-bottom: 4rem;
        }
    }

    #dynamic-date {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        h3, p {
            position: relative;
            left: 10%; 
            font-size: 150%;
            margin: 0.5rem;
        }
    }

    #blog-text-content {
        
        h2 {
            font-size: 200%;
            position: relative;
            left: 10%; 
        }

        p {
            position: relative;
            left: 10%; 
        }
    }

    .blog-box:nth-child(2),
    .blog-box:nth-child(3) {
        display: block;
    }

    #blog-con {
        gap: 2rem;
        padding: 2rem;
    }

    .blog-box {
        flex: 1;
        margin-bottom: 2rem;
    }
}

