@use '../abstracts' as a;

#timeline-section {
    background-color: a.$white;

    h1, h2 {
        color: a.$primary-color;
    }

    h3, h4 {
        color: a.$secondary-color;
    }

    p {
        color: a.$black;
    }
}

#timeline-intro-con {
    position: relative;
    margin: 2em 0;
    padding: 2rem;
}

.tl-alpha-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tl-beta-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: 800%;
    }

    h3 {
        text-align: center;
        margin: 5%;
    }
}

.tl-graphic-con {
    
    svg {
        width: 1rem;
    }
}

.tl-beta-text-con {
    background-color: a.$tertiary-color;
    margin: 10%;
    padding: 10%;

    p {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 768px) {
    
    .tl-beta-con {
        h2 {
            font-size: 1000%;
        }
    }

    .tl-graphic-con {
        svg {
            width: 2rem;
        }
    }

    .tl-beta-text-con {

        p {
            font-size: 150%;
        }
    }
}