@use '../abstracts' as a;

#timeline-section {
    background-color: a.$white;

    h1, h2 {
        color: a.$primary-color;
    }

    h3, h4 {
        color: a.$secondary-color;
    }

    p {
        color: a.$black;
    }
}

#timeline-intro-con {
    position: relative;
    margin: 2em 0;
    padding: 2rem;
}

.tl-alpha-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tl-beta-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: 800%;
    }

    h3 {
        text-align: center;
        margin: 5%;
    }
}

.tl-gamma-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: auto;
    margin: auto;

    h2 {
        font-size: 300%;
    }

    h3 {
        font-size: 100%;
    }

    .gamma-graphic-con {
        svg {
            width: 1rem;
            margin: 0
        }
    }

    .gamma-img-con {
        padding: 10%;
        position: relative;
    }

    // this styling makes gamma-bg fit to the size of the image
    .gamma-img-box {
        position: relative;
        display: block;
    }

    .gamma-img {
        transition: transform 1s ease;

        display: block;
        position: relative;
        width: 100%;
        height: auto;
        z-index: 3;
    }

    .gamma-img:hover {
        transform: translate(-2rem, -5rem);
    }

    .gamma-p {
        position: absolute;
        bottom: 0;
        padding: 1rem;
        z-index: 2;
        color: a.$white;
    }

    .gamma-bg {
        position: absolute;
        inset: 0;
        z-index: 1;
        background-color: a.$primary-color;
    }
}

.tl-graphic-con {
    
    svg {
        width: 2rem;
    }
}

.tl-beta-text-con {
    background-color: a.$tertiary-color;
    margin: 10%;
    padding: 10%;

    p {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 768px) {
    
    .tl-beta-con {
        h2 {
            font-size: 1000%;
        }
    }

    .tl-graphic-con {
        svg {
            width: 2rem;
        }
    }

    .tl-beta-text-con {

        p {
            font-size: 150%;
        }
    }
}