@use '../abstracts' as a;

#timeline-section {
    background-color: a.$white;

    h1, h2, h3 {
        color: a.$primary-color;
    }

    h4 {
        color: a.$secondary-color;
    }

    p {
        color: a.$black;
    }
}