@use '../abstracts' as a;

#tl-body {
    color: black;
}

#timeline-section {
    position: relative;
}

#timeline-intro-con {
    // position: absolute;
    // top: 0;
    text-align: center;
    width: 100%;

    h2 {
        width: 50%;
        margin: auto;
    }
}

// TLS-HEADERS STYLING
.tls-header {
    text-align: center;
    
    h3 {
        font-size: 100%;
    }
}

.tls-header-accent {
    background-color: a.$primary-color;
    height: 5vh;
}

.tls-header-text-con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tls-header-headings {
    display: flex;
    flex-direction: column;

    a {
        color: red;
    }
}


// TLS-SECTION STYLING
.tls-sticky-bg {
    font-size: 3000%;

    z-index: -1;
    pointer-events: none;
    color: a.$tertiary-color;
    text-align: center;
}

.tls-content-con {
    border: 1px solid black;
    border-radius: a.$borderrad;
    margin: 1rem;
    padding: 1rem;

    // GRID SETUP
    display: grid;
    grid-template-columns: repeat(8, 20vw);
    grid-template-rows: repeat(6, 20vw);
}


// PARALLAX CONTENT STYLING
.parallax-con-text {
    border: 1px solid red;
    border-radius: a.$borderrad;
    margin: 1rem;
    padding: 1rem;

    // GRID STLING
    aspect-ratio: 3 / 2;
}