@use '../abstracts' as a;

#tl-body {
    color: black;
}

#timeline-section {
    position: relative;
}

#timeline-intro-con {
    // position: absolute;
    // top: 0;
    text-align: center;
    width: 100%;

    h2 {
        width: 50%;
        margin: auto;
    }
}

.tl-content-break {
    background-color: a.$tertiary-color;
    text-align: center;
    font-size: 1000%;
    height: 100vh;
}

// TLS-SECTION STYLING
.tls-sticky-bg {
    font-size: 3000%;
    z-index: -1;
    pointer-events: none;
    color: a.$tertiary-color;
    text-align: center;

    // Parallax settings
    position: sticky;
    top: 0;
}

.tls-content-con {
    // border: 1px solid black;
    // border-radius: a.$borderrad;
    margin: 1%;

    // GRID SETUP
    display: grid;
    grid-template-columns: repeat(12, minmax(6vw, 20vw));
    grid-template-rows: repeat(10, auto);
    gap: 1%;
    position: relative;
    height: 100vh;
}

.text-grid-overlay, .image-grid-overlay {
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: inherit;
    position: absolute;
    inset: 0;
    pointer-events: none;
    align-items: start;
}

.image-grid-overlay {
    z-index: 3;
    pointer-events: auto;
}

// PARALLAX CONTENT STYLING

// TEXT CONTAINERS
.parallax-con-text {

    background-color: a.$primary-color;
    color: a.$white;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15), 0 2px 4px rgba(0,0,0,0.1);
    // GRID STLING
    // aspect-ratio: auto;
    place-content: start;
}

// IMG CONTAINERS
.parallax-con-img {
    background-color: red;
}

.tl-ibox-text-con {
    display: flex;
    justify-content: space-evenly   ;
}

.tl-ibox-img-con {
    position: relative;
    display: block;
}

.tl-ibox-img {
    transition: transform 1s ease;

    display: block;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 3;
}

.tl-ibox-p {
    transition: transform 1s ease;

    position: absolute;
    bottom: 0;
    padding: 1rem;
    z-index: 2;
    color: a.$white;
}

.tl-ibox-bg {
    transition: transform 1s ease;

    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: a.$primary-color;
}

// TBOX-A
.tbox-a1 {grid-column: 3 / span 3;}
.tbox-a2 {grid-column: 4 / span 4;}
.tbox-a3 {grid-column: 7 / span 5;}
.tbox-a4 {grid-column: 3 / span 5;}
.tbox-a5 {grid-column: 5 / span 4;}

// IBOX-A
.ibox-a1 {grid-column: 8 / span 4; grid-row: 1;}

// TBOX-B
.tbox-b1 {grid-column: 6 / span 6;}
.tbox-b2 {grid-column: 3 / span 5;}
.tbox-b3 {grid-column: 4 / span 7;}
.tbox-b4 {grid-column: 3 / span 5;}
.tbox-b5 {grid-column: 7 / span 5;}
.tbox-b6 {grid-column: 5 / span 4;}
.tbox-b7 {grid-column: 3 / span 4;}
.tbox-b8 {grid-column: 5 / span 4;}
.tbox-b9 {grid-column: 7 / span 4;}
.tbox-b10 {grid-column: 5 / span 4;}
.tbox-b11 {grid-column: 5 / span 4;}