@use '../abstracts/fonts';
@use '../abstracts/mixins';
@use '../abstracts/variables' as v;
@use '../base/typography';

#wartime-hero {
    background-image: url("/images/canteen-images/mobile/m-airmans-gallery-4.png");
}

#training-pic {
    width: 100vw;
    height: 80vh;
}

.blurry-backdrop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/);
}

@media (min-width: 768px) {
    #wartime-hero {
    background-image: url("/images/canteen-images/desktop/d-airmans-gallery-4.png");
}
}

@media (min-width: 1200px) {
    
}